<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dash - Sell</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <p><p>
    <p>This is the sell page!</p>
    <p>Choose from existing products or add a new product category.</p>

    <a href="{{ url_for('.new_product') }}"> New Product </a>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h4>Available Products</h4>
    {{ product_table }}

    <h2>Add Item</h2>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(item_form.product) }}
        {{ render_field(item_form.seller) }}
        {{ render_field(item_form.price) }}
      </dl>
      <p><input type=submit value=Submit>
    </form>

    <h2>All Items</h2>
    {{ item_table }}

    {% endblock %}
  </body>
</html>
