<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Dash Fulfillment</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">Dash Fulfillment</h1>
        <strong>Navigation<nav>
          <ul class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('user_index') }}">Users</a></li>
            <li><a href="{{ url_for('sell') }}">Sell</a></li>
            <li><a href="{{ url_for('buy') }}">Buy</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>
</html>
